@charset "UTF-8";

@font-face {
  font-family: "fontastic";
  src:url("fonts/fontastic.eot");
  src:url("fonts/fontastic.eot?#iefix") format("embedded-opentype"),
    url("fonts/fontastic.woff") format("woff"),
    url("fonts/fontastic.ttf") format("truetype"),
    url("fonts/fontastic.svg#fontastic") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fontastic" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontastic" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ok:before {
  content: "\63";
}
.icon-login:before {
  content: "\61";
}
.icon-bell:before {
  content: "\62";
}
.icon-group:before {
  content: "\64";
}
.icon-student:before {
  content: "\65";
}
.icon-auth:before {
  content: "\66";
}
.icon-reports:before {
  content: "\67";
}
.icon-users:before {
  content: "\68";
}
.icon-activity:before {
  content: "\69";
}
.icon-calendar:before {
  content: "\6a";
}
.icon-export-report-1:before {
  content: "\6b";
}
.icon-export-report:before {
  content: "\6c";
}
.icon-add-user:before {
  content: "\6d";
}
.icon-repeat:before {
  content: "\6e";
}
.icon-search:before {
  content: "\6f";
}
.icon-upload:before {
  content: "\70";
}
.icon-home:before {
  content: "\71";
}
.icon-cog:before {
  content: "\72";
}
.icon-arrows:before {
  content: "\74";
}
.icon-arrow-down:before {
  content: "\73";
}
.icon-arrow-left:before {
  content: "\75";
}
.icon-arrow-right:before {
  content: "\76";
}
.icon-arrow-up:before {
  content: "\77";
}
.icon-plus:before {
  content: "\78";
}
.icon-edit:before {
  content: "\79";
}
.icon-arrow-back:before {
  content: "\7a";
}
.icon-arrow-drop:before {
  content: "\41";
}
.icon-arrow-forward:before {
  content: "\42";
}
.icon-close:before {
  content: "\43";
}
