html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Document

        link( href='//fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap&subset=cyrillic,cyrillic-ext,latin-ext' rel='stylesheet' )
        link( href='//file.myfontastic.com/ABA5yUrw93ntWVEnGgxxn4/icons.css' rel='stylesheet' )

        script( src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js' )

        script( src='//code.highcharts.com/highcharts.js' )
        script( src='//code.highcharts.com/modules/exporting.js' )
        script( src='//code.highcharts.com/modules/export-data.js' )
        script( src='//code.highcharts.com/modules/accessibility.js' )

        link( href='/css/datepicker.css' rel='stylesheet' )
        script( src='/js/datepicker.js' )
    body#body