html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title Document

        link( href='https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap&subset=cyrillic,cyrillic-ext,latin-ext' rel='stylesheet' )
        link( href='https://file.myfontastic.com/ABA5yUrw93ntWVEnGgxxn4/icons.css' rel='stylesheet' )
    body#body